.sport-page {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 20px;
    margin-top: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.sport-page h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.sports-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.sport-card {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sport-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sport-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.sport-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #0f0303;
    margin-top: 10px;
}

.sport-card p {
    font-size: 14px;
    color:#160505;
    font-weight: 500;
}

.search-bar {
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* .dark-mode {
    background-color: #040b30;
    color: white;
    min-height: 100%;
    min-width: 100%;
}

.toggle-dark {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-size: 16px;
}

.toggle-dark:hover {
    background-color: #0c1549;

} */

/* .team-search-section {
  padding: 2rem;
  background-color: #f9f9f9;
}

.team-search-section .search-bar {
  padding: 0.5rem;
  margin-right: 1rem;
}

.team-card {
  margin-top: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
}

.team-card img.badge {
  height: 60px;
  margin-top: 0.5rem;
} */

.news-article {
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 4px solid #28a745;
    background: #f9f9f9;
    border-radius: 8px;
}

.news-article h4 {
    margin: 0;
    color: #007bff;
}

.news-article p {
    margin: 0.3rem 0;
}



/* img.badge {
    width: 100px;
    height: auto;
} */

.news-image {
    max-width: 100%;
    height: auto;
}


.news-section {
    margin-top: 20px;
}

.news-list {
    display: flex;
    flex-direction: column;
}

.news-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.news-item h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-item a {
    color: #007bff;
    text-decoration: none;
}

.news-item a:hover {
    text-decoration: underline;
}